<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuki.experiment.framework.mapper.mysql.PracticeProblemOptionsMapper">

    <resultMap id="BaseResultMap" type="com.yuki.experiment.framework.entity.PracticeProblemOptions">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="topicOptionsId" column="topic_options_id" jdbcType="INTEGER"/>
            <result property="problemAutoId" column="problem_auto_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,topic_options_id,problem_auto_id,
        content
    </sql>
</mapper>
