<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuki.experiment.framework.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="com.yuki.experiment.framework.entity.Course">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="place" column="place" jdbcType="VARCHAR"/>
            <result property="openPeriod" column="open_period" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <result property="scoreRatio" column="score_ratio" jdbcType="VARCHAR"/>
            <result property="credit" column="credit" jdbcType="INTEGER"/>
            <result property="college" column="college" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,place,
        open_period,create_time,update_time,
        teacher_id,score_ratio,credit,
        college
    </sql>
    <select id="getCourseInfo" resultType="com.alibaba.fastjson.JSONObject">
        select c.name,c.place,c.open_period,c.score_ratio,c.credit,c.college
        from course c
        where c.id=#{courseId}
    </select>
</mapper>
