<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuki.experiment.framework.mapper.mysql.NoticeMapper">

    <resultMap id="BaseResultMap" type="com.yuki.experiment.framework.entity.Notice">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="noticeTitle" column="notice_title" jdbcType="VARCHAR"/>
            <result property="noticeText" column="notice_text" jdbcType="VARCHAR"/>
            <result property="administratorId" column="administrator_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_time,update_time,
        notice_title,notice_text,administrator_id
    </sql>
</mapper>
