<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuki.experiment.framework.mapper.PracticeProblemMapper">

    <resultMap id="BaseResultMap" type="com.yuki.experiment.framework.entity.PracticeProblem">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="problemId" column="problem_id" jdbcType="INTEGER"/>
            <result property="counterPracticeAutoId" column="counter_practice_auto_id" jdbcType="INTEGER"/>
            <result property="stem" column="stem" jdbcType="VARCHAR"/>
            <result property="referenceAnswer" column="reference_answer" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,problem_id,counter_practice_auto_id,
        stem,reference_answer
    </sql>
</mapper>
