<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuki.experiment.framework.mapper.TeacherCourseMapper">

    <resultMap id="BaseResultMap" type="com.yuki.experiment.framework.entity.TeacherCourse">
            <id property="teacherId" column="teacher_id" jdbcType="INTEGER"/>
            <id property="courseId" column="course_id" jdbcType="INTEGER"/>
            <id property="roleId" column="role_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        teacher_id,course_id,role_id
    </sql>
</mapper>
