<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuki.experiment.framework.mapper.TopicOptionsMapper">

    <resultMap id="BaseResultMap" type="com.yuki.experiment.framework.entity.TopicOptions">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="problemId" column="problem_id" jdbcType="INTEGER"/>
            <id property="counterPracticeId" column="counter_practice_id" jdbcType="INTEGER"/>
            <id property="courseId" column="course_id" jdbcType="INTEGER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,problem_id,counter_practice_id,
        course_id,content
    </sql>
</mapper>
